<form action="api/modify" method="post">
    <p>Replace with random character</p>
    <input type="text" value="{{settings.character}}" name="character">
    <p>Join delay</p>
    <input type="text" value="{{settings.joinDelay}}" name="joinDelay">
    <p>Message delay</p>
    <input type="text" value="{{settings.messageDelay}}" name="messageDelay">
    <p>Delay random padding</p>
    <input type="text" value="{{settings.delayPadding}}" name="delayPadding">
    <br><br>
    <input type="submit" value="Save">
</form>