<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="style.css">

        <title>Spammy</title>
    </head>
    <body>
        <div class="container">
            <h1>Spammy</h1>
            <p>alpha 0.3</p>
            <div class="wrapper">
                <div class="bar">
                    <a href="/">Attack</a>
                    <a href="settings">Settings</a>
                    <a href="status">Status</a>
                </div>
                {{{body}}}
            </div>
        </div>
    </body>
</html>